{{!-- Button for scraping goes here --}}
<button id="scrape">Scrape</button>
<ul>
{{#each articles }}
<li>
<h3>{{this.title}}</h3>
<a href={{this.link}}>Read More</a>
<p>{{this.summary}}</p>
<button data-id={{this._id}} id="comment">Comment</button>
{{!-- Button for clearing goes here --}}
<button data-id={{this._id}} id="clear">Clear</button>
</li>
{{/each}}
</ul>
